body{
    font-family: 'Mingzat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    margin: 0;
    
}

.link-button{
    text-decoration: none;
    font-weight: 600;
    background-image: linear-gradient(orange,tomato);
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    
}
.banner{
    height: 100vh;
    width: 100%;
    background-blend-mode: darken;
    
    
    
}
.content{
    position: absolute;
    width: 100%;
    top: 35%;
    color: white;
    text-align: center;
    
}
.header{
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.content-p{
    color: rgb(189, 186, 186);
    margin-left: 10%;
    margin-right: 10%;
}

.header-2{
    font-size: 35px;
    text-align: center;
    padding: 55px 0 9px 0;
}
.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    

}
.flex-box{
    width: 100px;
    height: 100px;
    background: rgb(255, 246, 246);
    color: rgb(143, 140, 140);
    font-size: 15px;
    text-align: center;
    line-height:100px;
    border-radius: 10px;
    margin: 3px;
    font-weight: 700;
    
}

.section-2{
    text-align: center;

}

#box-free{
    background-color: rgba(248, 195, 186, 0.808);
    border-radius: 10px;  
    color: rgb(255, 51, 0);
    
    
}

button{
    background-color: tomato;
    border: tomato;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
}
.border-1{
    border-bottom: 1px solid #ddd;
    width: 75%;
    margin: 0 auto;
    color: grey;
    font-size: 15px;
    padding: 20px 0px 7px 0;

}

.paragraph{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    size: 7px;   
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    
}
.wrapper{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;


}
.column{
    flex: 1;
    margin: 7px;
    padding: 15px;
    background: rgb(152, 150, 238);
    transition: 0.3s;
}
#box-1{
    background: rgb(226, 235, 255);
}
#box-2{
    background: rgb(255, 238, 238);
}

#box-3{
    background: rgb(252, 252, 201);
}

form{
    text-align: center;
}

#main-footer{
	background: black;
	color: gray;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
    font-size: 15px;
}
#footer-1{
    color: tomato;
    font-size: 30px;
}
